<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; style-src-elem 'self' https://fonts.googleapis.com; font-src https://fonts.gstatic.com"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <link rel="stylesheet" href="index.css" />
    <title>Analisador de arquivos EDI</title>
  </head>
  <body>
    <div class="container-superior">
      <div class="src-file">
        <label class="src-file-label">Caminho dos arquivos EDI:</label>
        <input
          class="src-file-input"
          type="text"
          placeholder="Digite o caminho do arquivo EDI"
          value="\\10.10.10.7\files$\Apoio Comercial\EDI\importacao\BAK"
        />
      </div>

      <div class="src-options">
        <label
          ><input type="checkbox" name="formato" value="x12" /> Incluir arquivos
          .BAK</label
        >
        <div class="div-submit">
          <button class="submit-button">Importar</button>
        </div>
      </div>
    </div>
    <div class="container-inferior">
      <table id="table-data">
        <thead>
          <tr>
            <th class="table-header">Nome do arquivo</th>
            <th class="table-header">Numero Cliente</th>
            <th class="table-header">Data</th>
            <th class="table-header">Numero Winthor</th>
          </tr>
        </thead>
        <tbody class="table-body"></tbody>
    </div>
  </body>
  <script src="renderer.js"></script>
</html>
